@import url(../vendor/font.css);
@import url(../vendor/normalize.css);

@import url(./blocks/page.css);

@import url(./blocks/header.css);
@import url(./blocks/logo.css);

@import url(./blocks/content.css);

@import url(./blocks/products.css);

@import url(./blocks/cards.css);

@import url(./blocks/card.css);

@import url(./blocks/footer.css);
